button.unopened-square {
    background-color: #babdb6;
    padding: 0 0 0 0;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #31363c;
}

button.unopened-square:hover {
    background-color: #d3d7cf;
}

button.number-square {
    background-color: #dededc;
    padding: 0 0 0 0;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #31363c;
}

button.number-square:hover {
    background-color: #dededc;
}