.unopened-square {
    background-color: #babdb6;
    padding: 0;
    border-radius: 4px;
    outline: 0;
    border: 2px solid #31363c;
}
.unopened-square:hover {
    background-color: #d3d7cf;
}

.unopened-square:disabled:hover {
    background-color: #babdb6;
}

.number-square {
    background-color: #dededc;
    padding: 0;
    border-radius: 4px;
    outline: 0;
    border: 2px solid #31363c;
}
.number-square:hover {
    background-color: #dededc;
}

.minefield {
    display: inline-block;
}

.sidebar {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    text-align: center;
}